* {
  box-sizing: border-box;
}

body {
  background-color: hsl(204, 54%, 17%);
  color: white;
  display: grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  place-items: center;
  width: 100%;
}

main {
  display: grid;
  font-size: 1.5em;
  place-items: center;
}

svg {
  max-width: 90vw;
}
